<StackLayout class="form">
    <StackLayout class="input-field"> 
        <TextField [(ngModel)]="usuario" #texto="ngModel" class="input"
                    hint="Ingresar usuario..." required>
        </TextField>
        <Label *ngIf="texto.hasError('required')" text="*"></Label>
    </StackLayout>
    <Button text="Guardar" (tap)="onButtonTap()" *ngIf="texto.valid" class="btn btn-primary"></Button>
</StackLayout>
