<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout class="page page-content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;" #icono></Label>
    
    <SearchForm (search)="activityIndicator.busy=!activityIndicator.busy;
                          buscarAhora($event);
                          activityIndicator.busy=!activityIndicator.busy;" [inicial]="'hola'"></SearchForm>
    <ActivityIndicator #activityIndicator busy="false"
        (busyChange)="cambio_busy($event)"
        width="100" height="100" class="activity-indicator">
    </ActivityIndicator> 
        <PullToRefresh (refresh)="onPull($event)"
            indicatorFillColor="#fff000"
            indicatorColor="#3489db"
        >        
            <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
            style="height:1250px">
                <ng-template let-x="item">
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                        <Image src="res://icon" class="thumb img-circle"></Image>
                        <Label [text]="x" class="list-group-item-heading"
                            verticalAlignment="center" style="width: 60%"></Label>       
                        <Label text="&#xf004;" class="nt-icon fas" (tap)="onFavoritosTap(x)"></Label>                                             
                    </FlexboxLayout>                     
                </ng-template>
            </ListView>
        </PullToRefresh>

</StackLayout>